.cast {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.imagediv {
    height: 250px;
    width: 300px;
    overflow: hidden;
}
.card {
    text-align: center;
    font-size: 16px;
}